<!DOCTYPE html>
<html>
<head>
<meta name="studentview" content="width=device-width, initial-scale=1">
<link href = "../static/incharge.css" rel = "stylesheet">
</head>
<body>

<h2>Search Menu</h2>
<p>Start to type for a specific category inside the search bar to "filter" the search options.</p>

<div class="row">
  <div class="left" style="background-color: 	#0099FF;">
    <h2>Menu</h2>
    <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
    <ul id="myMenu">
      <li><a href="#">Add Question</a></li>
      <li><a href="#">Update Question</a></li>
      <li><a href="#">Confirm Test</a></li>
      <li><a href="#">Review Test</a></li>
      <li><a href="#">View Student Result</a></li>
    </ul>
  </div>
  
  <div class="right" style="background-color:#9999FF;">
    <h2>Page Content</h2>
    <p>Start to type for a specific category inside the search bar to "filter" the search options.</p>
    <p>Some text..Some text..Some text..Some text..Some text..Some text..Some text..Some text..</p>
    <p>Some other text..Some text..Some text..Some text..Some text..Some text..Some text..Some text..</p>
    <p>Some text..</p>
  </div>
</div>

<script>
    function myFunction() {
      var input, filter, ul, li, a, i;
      input = document.getElementById("mySearch");
      filter = input.value.toUpperCase();
      ul = document.getElementById("myMenu");
      li = ul.getElementsByTagName("li");
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }
    </script>

</body>
</html>
