<!DOCTYPE html>
<html>
<head>
<meta name="studentview" content="width=device-width, initial-scale=1">
<link href = "../static/student.css" rel = "stylesheet">
</head>
<body>
<form method="POST" action = "">
<h2>Search Menu</h2>
<p>Start to type for a specific category inside the search bar to "filter" the search options.</p>

<div class="row">
  <div class="left" style="background-color: 	#0099FF;">
    <h2>Menu</h2>
    <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
    <ul id="myMenu">
      <li><button type="button" id = "exam" onclick="popup()">Exam</button></li>
      <li><button type="button" id = "review" onclick="popup()">Review</button></li>
    </ul>
  </div>
  {%if choice == "exam" or choice == "review"%}
  <div class="exam" style="background-color:#9999FF;">
    {%if choice == "exam" %}
    <h2>Exam</h2>
    {%else%}
    <h2>Review Test</h2>
    {%endif%}
    <div class="questions" style="background-color: white;">
    <nav>
    <ol>
      {% for q in questions %}
      <li><p>{{q[0]}}</p></li>
        {% set i = loop.index %}
        {% for ans in q[1:] %}
          {% if choice == "exam" %}
          <input type="radio" value="{{ans}}" name={{anslist[i]}} /> {{ans}}
          {%else%}
          <p>{{ans}}</p>
          {%endif%}
        {% endfor %}
      {% endfor %}
    </ol>
    </nav>
    </div>
    <button type="submit" value="submission" class = "submit" name="choice">Submit</button>
  </div>
  {%else%}
  <div class="right" style="background-color:#9999FF;">
    <h2>Page Content</h2>
    <p>Start to type for a specific category inside the search bar to "filter" the search options.</p>
    <p>Some text..Some text..Some text..Some text..Some text..Some text..Some text..Some text..</p>
    <p>Some other text..Some text..Some text..Some text..Some text..Some text..Some text..Some text..</p>
    <p>Some text..</p>
  </div>
  {%endif%}
</div>
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <label for="course"><b>Course</b></label>
    <input type="text" placeholder="Current course" name="course">
    <label for="subject"><b>Subject</b></label>
    <input type="text" placeholder="Subject" name="subject">
    <button type="submit" class="join" value="exam" name="choice">Join Quiz</button>
  </div>

</div>
</form>
 <!-- for searching -->
<script>
  var btn = document.getElementById("exam");
  var viewBtn = document.getElementById("review");
  var span = document.getElementsByClassName("close")[0];
  var modal = document.getElementById("myModal")
  var join = document.getElementsByClassName('join')[0];
  btn.onclick = function() {
    join.setAttribute('value', "exam")
    modal.style.display = "block";
  }
  viewBtn.onclick = function(){
    modal.style.display = "block";
    join.setAttribute('value', "review")
  }
  span.onclick = function() {
    modal.style.display = "none";
  }
  window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
  }
</script>

<script>
    function myFunction() {
      var input, filter, ul, li, a, i;
      input = document.getElementById("mySearch");
      filter = input.value.toUpperCase();
      ul = document.getElementById("myMenu");
      li = ul.getElementsByTagName("li");
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }
</script>

</body>
</html>
