<!DOCTYPE html>
<html>
<head>
<meta name="studentview" content="width=device-width, initial-scale=1">
<link href = "../static/student.css" rel = "stylesheet">
</head>
<body>
<form method="POST" action = "">
<h2>Search Menu</h2>
<p>Start to type for a specific category inside the search bar to "filter" the search options.</p>

<div class="row">
  <div class="left" style="background-color: 	#0099FF;">
    <h2>Menu</h2>
    <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
    <ul id="myMenu">
      <li><button type="submit" value = "quiz" name = "choice">Quiz</button></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
      <li><a href="#">PHP</a></li>
      <li><a href="#">Python</a></li>
      <li><a href="#">jQuery</a></li>
      <li><a href="#">SQL</a></li>
      <li><a href="#">Bootstrap</a></li>
      <li><a href="#">Node.js</a></li>
    </ul>
  </div>
  {%if choice == "quiz"%}
  <div class="quiz" style="background-color:#9999FF;">
    <h2>Hello</h2>
    <div class="questions" style="background-color: white;">
    <nav>
    <ol>
      {% for q in questions %}
      <li><p>{{q[0]}}</p></li>
        {% set i = loop.index %}
        {% for ans in q[1:] %}
          <input type="radio" value="{{ans}}" name={{anslist[i]}} /> {{ans}}
        {% endfor %}
      {% endfor %}
    </ol>
    </nav>
    </div>
    <button type="submit" value="submission" class = "submit" name="choice">Submit</button>
  </div>
  {%else%}
  <div class="right" style="background-color:#9999FF;">
    <h2>Page Content</h2>
    <p>Start to type for a specific category inside the search bar to "filter" the search options.</p>
    <p>Some text..Some text..Some text..Some text..Some text..Some text..Some text..Some text..</p>
    <p>Some other text..Some text..Some text..Some text..Some text..Some text..Some text..Some text..</p>
    <p>Some text..</p>
    <p>{{func() }}</p>
  </div>
  {%endif%}
  
</div>
</form>

<script>
    function myFunction() {
      var input, filter, ul, li, a, i;
      input = document.getElementById("mySearch");
      filter = input.value.toUpperCase();
      ul = document.getElementById("myMenu");
      li = ul.getElementsByTagName("li");
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }
    </script>

</body>
</html>
